:root {
    --color-primary: #070709;
    --color-secondary: #60606C;
    --color-tertiary: #2597D0;
    --color-neutral: #FFFFFF;
    --font-heading: "Plus Jakarta Sans", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;
    --color-text-primary: #070709;
    --color-text-secondary: #60606C;
    --color-text-light: #FFFFFF;
    --color-danger: #D62828;
    --color-background: #FFFFFF;
    --color-background-secondary: #F5F5F5;
    --color-border: #60606C;
    --radius-small: 8px;
    --radius-medium: 16px;
    --radius-large: 24px;
    --radius-pill: 999px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--color-text-primary);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link{
    text-decoration: none;
    color: var(--color-secondary);
    transition: transform 0.3s ease;
    display: inline-block;
}

#contacto{
    border: 1px solid var(--color-border);
    padding: 10px 25px;
    border-radius: var(--radius-large);
    color: var(--color-text-primary);
}

.nav-link:hover{
    color: var(--color-text-primary);
    transform: scale(1.17);
}

#contacto:hover{
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

